html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.container {
  margin: 0 auto;
  max-width: 940px;
  padding: 0 10px;
}
.container1 {
  margin: 0 auto;
  max-width: 10000px;
  padding: 0 10px;
}
.column {
  display: inline-block;
  vertical-align: top;
  horiz-align: center;
  padding: 5px;
  width: 325px;
}
.column1 {
  display: inline-block;
  vertical-align: top;
  horiz-align: center;
  padding: 5px;
  width: 240px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.left-fill {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 10px;
}
.links li a {
  text-decoration: none;
  color: royalblue;
  margin-bottom: 10px;
  font-style: normal;
  position: relative;
  display: inline-block;
  font-weight: 800;
  background: linear-gradient(to right, midnightblue, midnightblue 50%, royalblue 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  font-size: 14px;
}
.links li a:hover {
  background-position: 0 100%;
}

.member-img{
  display: block;
  margin-left: auto;
  margin-right: 0;
}
.header {
  background-image:url('tumblr_lzs2skveU91r94e9jo1_500.gif'); background-repeat:repeat;;
  background-size: cover;
  height: 800px;
  text-align: center;
}

.header .container {
  position: relative;
  top: 200px;
}
.header .container1 {
  position: relative;
  top: 200px;
}
.row{
  margin:0 auto;
  width: 40%;
}
.main p{
  border: 2px black solid;
  padding: 20px;
  box-shadow: 10px 5px 5px gray;
}
.member-list li{
  display: inline;
}
.member-list{
  height: 500px;
  margin: 0 auto;
}
.author-overview-list {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  margin-left: 5%
}
.author-card__header{
  border: 3px black;
  border-radius: 4px;
}
.team-border{
  border:10px black;
}
h2{
  border:2px black;
  border-radius: 10px;
  font-family: 'Special Elite';
  font-size: 40px;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
h1, h3, h4, h5, h6, ol, p, ul {
  outline: 0;
  font-family: 'Special Elite';
  vertical-align: baseline;
  box-sizing: border-box;
}

.header h1 {
  color: #ffffff;
  line-height: 100px;
  font-size: 80px;
  padding-top: 50px;
  margin-top: 0;
  font-family: 'Special Elite';
  font-style: italic;
  border: 2px black;
  margin-bottom: 80px;
  text-transform: uppercase;
}

@media (min-width:850px) {
  .header h1 {
    font-size: 120px;
  }
}

.header p {
  color: #fff;
  font-weight: bold;
  letter-spacing: 8px;
  margin-bottom: 40px;
  margin-top: 0;
  text-transform: uppercase;
}

.btn {
  color: #fff;
  background: #000;
  padding: 10px 40px;
  text-decoration: none;
  transition: background .5s;
}

.nav {
  background: #000;
  height: 80px;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav ul {
  height: 80px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.nav ul li{
  color: #fff;
  display: inline-block;
  height: 80px;
  line-height: 80px;
  list-style: none;
  padding: 0 20px;
  transition: background .5s;
}
.nav ul li a{
  color: #fff;
  text-decoration: none;
  padding:30px 10px;
}

.btn:hover, .nav ul li:hover {
  background: #117bff;
  cursor: pointer;
  transition: background .5s;
}

.main .container {
  margin: 80px auto;
}
.main .container1 {
  margin: 80px auto;
}


.main img {
  margin: 0 auto;

}
.main video {
  object-position: bottom;
  margin: 10px 80px 50px 0;
}
.main{
  background-image: url("./white-paper-texture-with-flecks.webp");
}
.footer {
  background: #000;
  height: 80px;
  padding-bottom: 60px;
  margin-top:0;
  padding-top: 10px;
}

.footer p {
  color: #fff;
  font-size: 14px;
  height: 80px;
  line-height: 80px;
  margin: 0;
}


.author-avatar--guest .author-avatar__image{
  padding-bottom:20px;
  border-radius:50%;
  box-shadow:0 0 0 2px #fff;
}
.author-card {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 100%;
  margin: 60px 15px 15px;
}
.author-card a{
  margin-bottom: 100px;
}
@media (min-width:661px){
  .author-card{
    -webkit-flex:0 0 auto;
    flex:0 0 auto;
    width:20%}
}
.author-card__header{
  position:relative;
  -webkit-flex:0 0 225px;
  flex:0 0 225px
}
.author-card--correspondent .author-card__header,.author-card--guest .author-card__header{
  color: #e3e2e3;
  background-color:#dadada;
  margin-right:100px;
  transition:background-color .2s,color .2s
}
.author-card--archived-guest .author-card__header,.author-card--guest .author-card__header{position:relative}
.author-card--archived-correspondent .author-card__avatar,.author-card--correspondent .author-card__avatar{
  width:190px;
  margin:-45px auto 0
}
.author-card__avatar{
  margin:0;
}
.author-card__name{
  margin-bottom:0;
  font-family:"Bree Light",serif;font-size:22px;
  line-height:1.5em;
  color:#000
}
.author-card__expertise{
  margin-bottom:25px;
  font-family:"Bree Regular",serif;
  font-size:17px
}

@keyframes animate{
  0%{
    transform:translate(-50%,-70%) rotate(0deg);
  }
  100%{
    transform:translate(-50%,-70%) rotate(360deg);
  }
}

.flip-box {
  background-color: transparent;
  width: 325px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  margin:0 auto;
}


.flip-box-inner {
  position: relative;
  width:325px;height:450px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}
h4{
  color:white;
  margin-bottom: 0;
  margin-top: 10px;
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width:325px;height:450px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}


.flip-box-front {
  background-color: #bbb;
  color: black;
}


.flip-box-back {
  color: white;
  transform: rotateY(180deg);
}
#emil{
  background-image: url("./emilcardback.jpg");
}
#ravan{
  background-image: url("./ravancardback.jpg");
}
#suel{
   background-image: url("./suelcardback.png");
  background-size: 325px 450px;
 }
#melek{
    background-image: url("./melekcardback.jpg");
  }
